$section-spacer: 2rem;

/* Bootstrap overrides */
$primary: #1A5B11;
$secondary: #E4E6C3;
$info: #00b0bd;
$success: #09a600;
$warning: #f8c300;
$danger: #e30125;
$light: #F7F7F2;
$dark: #001904;
$body-bg: $light;
$body-color: $dark;
$navbar-dark-color: $light;
$navbar-dark-hover-color: #fff;
$navbar-dark-active-color: #fff;
$card-bg: #fff;
$card-border-radius: 0.5em;
$card-spacer-x: 1em;
$card-spacer-y: 1em;
$btn-border-radius: 5px;
$input-btn-padding-y: .5rem;
$input-btn-padding-x: 1.5rem;
$border-radius: 0.2em;
$font-family-sans-serif: "Open Sans", sans-serif;
$headings-font-family: "Raleway", sans-serif;

/* Weirdly necessary to avoid stuff like "color: ;" and warnings */
$box-shadow: 0 .5rem 1rem rgba(#000, .15);
$card-box-shadow: $box-shadow;
$dropdown-box-shadow: $box-shadow;
$dropdown-dark-box-shadow: $box-shadow;
$breadcrumb-bg: inherit;
$breadcrumb-border-radius: inherit;
$card-cap-color: inherit;
$card-color: inherit;
$card-height: inherit;
$input-btn-font-family: $font-family-sans-serif;
$modal-content-color: inherit;
$modal-footer-bg: inherit;
$nav-link-font-size: inherit;
$nav-link-font-weight: inherit;
$offcanvas-color: inherit;
$popover-header-color: inherit;
$toast-color: inherit;
$tooltip-margin: 0;

@import "../../vendor/twbs/bootstrap/scss/bootstrap.scss";

@mixin inline-select {
    display: inline;
    width: inherit;
}

.disabled a,
a.disabled {
    pointer-events: none;
}

legend {
    color: $link-hover-color;
}

.row {
    max-width: 80rem;
}

.actions.columns {
    border-left: 5px solid $link-hover-color;
    margin-top: 1rem;
    padding: 32px 20px;

    h3 {
        color: $link-hover-color;
    }
}

.related {
    table {
        border: 0;
        table-layout: fixed;
        width: 100%;
    }
}

.index {
    table {
        thead {
            height: 3.5rem;
        }
    }
}

.header-help {
    float: right;
    font-size: 16px;
    margin-right: 2rem;
    margin-top: -80px;

    span {
        background-color: #0097a7;
        border-radius: 1000px;
        color: #FFF;
        display: inline-block;
        font-size: 0.8rem;
        font-weight: normal;
        line-height: 1;
        padding: 0.25rem 0.5rem 0.375rem;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
    }
}

.header-help {
    a {
        color: #fff;
    }
}

ul.pagination {
    li {
        a {
            color: rgba(0, 0, 0, 0.54);
        }

        &.active {
            a {
                background-color: #DCE47E;
                color: #FFF;
                cursor: default;
                font-weight: bold;
            }
        }
    }

    .disabled:hover {
        a {
            background: none;
        }
    }
}

.paginator {
    text-align: center;

    ul.pagination {
        li {
            display: inline-block;
            float: none;
        }
    }

    p {
        color: rgba(0, 0, 0, 0.54);
        text-align: right;
    }
}

.asc:after {
    content: " \2193";
}

.desc:after {
    content: " \2191";
}

.form {
    .error-message {
        color: rgba(0, 0, 0, 0.54);
        display: block;
        font-size: 0.75rem;
        font-style: italic;
        font-weight: normal;
        margin-bottom: 1rem;
        margin-top: -1px;
        padding: 0.375rem 0.5625rem 0.5625rem;
    }
}

.required {
    > label {
        font-weight: bold;

        &:after {
            content: ' *';
            color: #C3232D;
        }
    }
}

select[multiple] {
    min-height: 150px;
    background: none;
}

input[type=checkbox],
input[type=radio] {
    margin-right: 0.5em;
}

.date,
.time,
.datetime {
    select {
        display: inline;
        margin-right: 10px;
        width: auto;
    }
}

.error {
    label,
    label.error {
        color: #C3232D;
    }
}

.view {
    h2 {
        color: #6F6F6F;
    }

    .columns {
        &.strings {
            border-radius: 3px;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
            margin-right: 0.7rem;
        }

        &.dates {
            background-color: #DCE47E;
            border-radius: 3px;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
            color: #fff;
            margin-right: 0.7rem;
        }

        &.booleans {
            background-color: #8D6E65;
            border-radius: 3px;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
            color: #fff;
            margin-right: 0.7rem;
        }
    }

    .numbers {
        background-color: #B7E3EC;
        border-radius: 3px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
        color: #FFF;
        margin-right: 0.7rem;
    }

    .strings {
        p {
            border-bottom: 1px solid #eee;
        }
    }

    .numbers,
    .dates {
        .subheader {
            color: #747474;
        }
    }

    .booleans {
        .subheader {
            color: #E9E9E9
        }
    }

    .texts {
        .columns {
            border-bottom: 1px solid #eee;
            margin-top: 1.2rem;
        }
    }
}

/* Notices and Errors */
.cake-error,
.cake-debug,
.notice,
p.error,
p.notice {
    background-repeat: repeat-x;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    clear: both;
    display: block;
    margin-bottom: 18px;
    padding: 7px 14px;
}

.cake-debug,
.notice,
p.notice {
    color: #000000;
    background: #ffcc00;
}

.cake-error,
p.error {
    color: #fff;
    background: #C3232D;
}

pre {
    background: none repeat scroll 0 0 #FFF;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    color: rgba(0, 0, 0, 0.74);
    margin: 15px 0;
    padding: 5px;
}

.cake-error {
    .cake-stack-trace {
        margin-top: 10px;
    }
}

.cake-stack-trace {
    code {
        background: inherit;
        border: 0;
    }
}

.cake-code-dump {
    .code-highlight {
        background-color: #FFC600;
        display: block;
    }
}

.cake-error {
    a,
    a:hover {
        color: #fff;
        text-decoration: underline;
    }
}

.checks {
    background-color: #B7E3EC;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    color: #626262;
    margin-bottom: 2em;
    padding: 30px;
}

.checks {
    h4 {
        margin-bottom: 1.5rem;
    }

    hr {
        border: 0;
        height: 0;
    }

    .success,
    .problem {
        margin-left: 10px;

        &:before {
            line-height: 0;
            font-size: 28px;
            height: 12px;
            width: 12px;
            border-radius: 15px;
            text-align: center;
            vertical-align: middle;
            display: inline-block;
            position: relative;
            left: -11px;
        }
    }

    .success:before {
        content: "✓";
        color: green;
        margin-right: 9px;
    }

    .problem:before {
        content: "✘";
        color: red;
        margin-right: 9px;
    }
}

.top-bar.expanded {
    .title-area {
        background: #01545b;
    }
}

.top-bar.expanded,
.top-bar,
.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button) {
    background: #116d76;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background: #308e97;
}

.side-nav {
    li.heading {
        color: $primary;
        font-size: 0.875rem;
        font-weight: bold;
        padding: 0.4375rem 0.875rem;
        text-transform: uppercase;
    }
}

#actions-sidebar {
    background: #fafafa;
}

.index {
    table {
        border: 0;
        margin-top: 0;
        table-layout: fixed;
        width: 100%;
    }
}

.bordered-section {
    background-color: $card-bg;
    border: 1px solid $primary;
    border-radius: 0.5rem;
    margin-bottom: $section-spacer;
    padding: 1em;
}

fieldset {
    @extend .bordered-section;
    margin: 1.125rem 0;
    padding: 1.25rem;

    legend {
        color: $dark;
        border-bottom: 2px solid $primary;
        line-height: 2rem;
        margin-bottom: 1rem;
        width: 100%;
    }
}

.form {
    button[type="submit"] {
        box-shadow: none;
        float: right;
        text-transform: uppercase;
    }

    button:hover,
    button:focus {
        background: #BE840B;
        box-shadow: none;
    }
}

button {
    background: #966600;
}

div.message {
    background-color: #a0d3e8;
    color: #626262;
    cursor: pointer;
    display: block;
    font-weight: normal;
    height: 50px;
    line-height: 2.5em;
    overflow: hidden;
    padding: 0 1.5rem 0 1.5rem;
    right: 15px;
    text-align: center;
    top: 15px;
    transition: height 300ms ease-out 0s;
    z-index: 999;

    &:before {
        background-color: #FFF;
        border-radius: 15px;
        color: #a0d3e8;
        content: "i";
        display: inline-block;
        font-size: 20px;
        height: 12px;
        left: -11px;
        line-height: 0;
        padding: 12px 14px 12px 10px;
        position: relative;
        text-align: center;
        vertical-align: middle;
        width: 12px;
    }

    &.error {
        background-color: #C3232D;
        color: #FFF;

        &:before {
            color: #C3232D;
            content: "x";
            padding: 11px 16px 14px 7px;
        }

        a {
            color: #fff;
        }
    }

    &.hidden {
        height: 0;
    }
}

.vertical-table {
    vertical-align: middle;

    th {
        border: none;
        color: $primary;
        font-size: 0.875rem;
        padding: 0.5625rem 0.625rem;
        text-align: left;
    }

    td {
        text-align: right;
    }
}

.content {
    padding: 2rem;
}

/* Use 'one true layout' methods to get equal height columns */
.container {
    min-height: 92%; /* full height almost always */
    overflow: hidden;
}

/* Force equal height by overflowing */
.content,
#actions-sidebar {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

@media(max-width: 640px) {
    #actions-sidebar {
        margin-bottom: 0;
        padding-bottom: 2rem;
    }
}

.content {
    h3 {
        color: #be140b;
        margin-bottom: 20px;
        padding-bottom: 0.5rem;
    }

    h4 {
        border-bottom: 2px solid #be140b;
        color: #be140b;
        margin-bottom: 20px;
        padding-bottom: 0.5rem;
    }

    .related h4 {
        color: #4d8f97;
        padding-bottom: 0.5rem;
        margin-top: 20px;
        margin-bottom: 10px;
        border-bottom: 0;
    }
}

table td {
    vertical-align: top;
    word-break: break-all;
}

.my-applications__application {
    th,
    td {
        vertical-align: middle;
    }
    th,
    td:nth-child(2)
    {
        white-space: nowrap;
        width: 1%;
    }
    tr:last-child {
        td,
        th {
            border-width: 0;
        }
    }
}

.credits {
    margin-bottom: 3em;
    max-width: 20em;

    div {
        border-bottom: 1px dashed #AAA;
        clear: both;
        padding-bottom: 2px;
    }

    dt {
        display: inline;
        font-weight: bold;
        margin-bottom: -3px;
        padding-right: 5px;
        position: relative;
        top: 4px;
    }

    dd {
        color: #555;
        float: right;
        padding-left: 5px;
        position: relative;
        right: -2px;
        text-align: right;
        top: 4px;
    }
}

.footnote {
    @extend .text-muted;
    font-size: 80%;
}

.form-group {
    margin-bottom: 2em;
}

.input-with-footnote {
    .form-group,
    .input-group {
        margin-bottom: 0;
    }

    .footnote {
        margin-bottom: 2rem;
    }
}

.apply {
    .accept-partial {
        label {
            display: block;

            &[for="accept-partial-payout-0"],
            &[for="accept-partial-payout-1"] {
                &:not(:first-child) {
                    font-weight: normal;

                    &:after {
                        content: "";
                    }
                }
            }
        }
    }

    label {
        font-weight: bold;
    }
}

form {
    .footnote {
        margin-bottom: 0;
    }
}

#home {
    section {
        margin: $section-spacer 0;
    }
}

#register-form {
    div.tel {
        input {
            margin-bottom: 0;
        }
    }
}

#register-name {
    margin-bottom: 0;
}

#login-form {
    form {
        margin-bottom: 1rem;
    }
}

body {
    padding-bottom: 4em;
}

.image-gallery {
    img {
        cursor: zoom-in;
        margin-right: 0.5em;
    }
}

#cycles-chart {
    background-color: #fff;
    width: auto;

    td {
        text-align: center;
    }

    .spring {
        th,
        td:not(.blank) {
            background-color: #d9ead3;
        }
    }

    .summer {
        th,
        td:not(.blank) {
            background-color: #fff2cc;
        }
    }

    .fall {
        th,
        td:not(.blank) {
            background-color: #f4cccc;
        }
    }

    .winter {
        th,
        td:not(.blank) {
            background-color: #cfe2f3;
        }
    }
}

.form-control {
    appearance: auto;
}

#change-status {
    display: inline-block;
    vertical-align: middle;
    width: auto;
}

#review-action-column {
    > section {
        margin-bottom: $section-spacer;
    }

    .form-group.textarea {
        margin-bottom: 0.5em;
    }
}

#review-notes {
    margin-top: 1em;

    section {
        @extend .bordered-section;

        p {
            margin-bottom: 0;
        }
        .date {
            font-size: 80%;
            text-align: right;
        }
    }
}

#voter-app {
    @extend .container;
}

#vote-steps {
    @extend .list-unstyled;
    border-bottom: 1px solid #aaa;
    list-style: none;
    padding-left: 0;

    li {
        display: inline-block;
        padding: 0.5em;
        margin-right: 1em;
    }

    .active {
        font-weight: bold;
    }

    button {
        &[disabled] {
            color: $body-color;
            opacity: 1;
            text-decoration: none;
        }
        &:not([disabled]) {
            color: $link-color;
        }
    }
}

.vote-application {
    h2 {
        font-size: 1.2em;
    }
}

.vote-application-list {
    @extend .table;

    .fa-thumbs-up {
        color: green;
    }

    .fa-thumbs-down {
        color: red;
    }
}

.vote-actions,
.vote-rank {
    padding: 1em !important;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;

    i {
        font-size: 2em;
    }

    button {
        @extend .btn;

        &.vote-actions-change-vote {
            @extend .btn-link;
            @extend .btn-sm;
        }

        &.vote-actions-vote,
        &.vote-actions-rank
        {
            @extend .btn-primary;
        }
    }
}

.vote-step-title {
    font-size: 1.2em;
    font-weight: bold;
}

.vote-footer {
    padding: 0.5em;
    text-align: right;

    .col:first-child {
        text-align: left;
    }

    .col:last-child {
        text-align: right;
    }
}

.vote-rank {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.vote-sortable-table {
    .is-dragging {
        background-color: #faf4d0;
        user-select: none;
    }

    .is-dragging-over {
        background-color: #EEE;
    }
}

.application-title {
    font-size: 1.5em;
    font-weight: bold;
}

.no-answer {
    color: $danger;
    font-weight: bold;
}

main {
    padding-top: 100px;
}

$theme-link-color: #16507b;
$theme-link-hover-color: #2487ce;
$theme-mobile-nav-toggle: #124265;

#header {
    background: #fff;
    border-bottom: 1px solid #e6f2fb;
    padding: 15px 0;
    transition: all 0.5s;
    z-index: 997;

    &.header-scrolled {
        border-color: #fff;
        box-shadow: 0 2px 15px rgba(18, 66, 101, 0.08);
    }

    .logo {
        font-family: "Poppins", sans-serif;
        font-size: 28px;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 1;
        margin: 0;
        padding: 0;

        a {
            color: $theme-link-color;
        }
    }
}

.navbar {
    padding: 0;

    ul {
        align-items: center;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        position: relative;
    }

    a,
    a:focus {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 10px 1.25em;
        transition: 0.3s;
        white-space: nowrap;

        i {
            font-size: 12px;
            line-height: 0;
            margin-left: 5px;
        }
    }

    a:hover,
    .active,
    .active:focus,
    li:hover > a {
        color: $theme-link-hover-color;
    }

    .dropdown {
        ul {
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
            display: block;
            left: 14px;
            margin: 0;
            opacity: 0;
            padding: 10px 0;
            position: absolute;
            top: calc(100% + 30px);
            transition: 0.3s;
            visibility: hidden;
            z-index: 99;

            li {
                min-width: 200px;
            }

            a {
                padding: 10px 20px;
                text-transform: none;

                i {
                    font-size: 12px;
                }
            }

            a:hover,
            .active:hover,
            li:hover>a {
                color: $theme-link-hover-color;
            }
        }

        &:hover > ul {
            opacity: 1;
            top: 100%;
            visibility: visible;
        }

        .dropdown ul {
            top: 0;
            left: calc(100% - 30px);
            visibility: hidden;
        }

        .dropdown:hover > ul {
            opacity: 1;
            top: 0;
            left: 100%;
            visibility: visible;
        }
    }

    .mobile-nav-toggle {
        color: $body-color;
        cursor: pointer;
        display: none;
        font-size: 28px;
        line-height: 0;
        transition: 0.5s;

        &.bi-x {
            color: #fff;
        }
    }

    &:not(.navbar-mobile) {
        #navbar-cta {
            @extend .btn, .btn-primary;
        }
    }
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block !important;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    background: rgba(0, 0, 0, 0.2);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.3s;
    z-index: 999;

    .mobile-nav-toggle {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    ul {
        display: block;
        position: absolute;
        top: 55px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        padding: 10px 0;
        background-color: #fff;
        overflow-y: auto;
        transition: 0.3s;
    }

    a,
    a:focus {
        padding: 10px 20px;
        font-size: 15px;
        color: $theme-mobile-nav-toggle;
    }

    a:hover,
    .active,
    li:hover>a {
        color: $theme-link-hover-color;
    }

    .dropdown {
        ul {
            position: static;
            display: none;
            margin: 10px 20px;
            padding: 10px 0;
            z-index: 99;
            opacity: 1;
            visibility: visible;
            background: #fff;
            box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);

            li {
                min-width: 200px;
            }

            a {
                padding: 10px 20px;

                i {
                    font-size: 12px;
                }
            }

            a:hover,
            .active:hover,
            li:hover>a {
                color: $theme-link-hover-color;
            }
        }

        > .dropdown-active {
            display: block;
        }
    }
}

#funding-cycle-selector {
    @include inline-select;
}

section {
    &.account,
    &.funding-cycles {
        margin-top: $section-spacer;
    }
}

section.funding-cycles {
    th {
        white-space: nowrap;
        width: 1%;
    }
}

.btn-primary {
    color: #fff !important;
}

.alert-info {
    background-color: $card-bg;
}

#address-postfix {
    padding-left: 0;
}

#form-images {
    width: auto;

    th {
        text-align: center;
    }

    td {
        text-align: center;
        vertical-align: middle;
    }
}

p:last-child {
    margin-bottom: 0;
}

footer {
    @extend .border-top;
    border-top: 1px solid;
    color: $text-muted;
    font-size: 90%;
    padding-top: 0.9em;
    margin-top: 5em;
    text-align: center;

    p {
        margin-bottom: 0.9em;
    }

    ul {
        @extend .list-unstyled;
    }

    li {
        display: inline-block;
        margin: 0 1em;
    }

    a {
        text-decoration: none;
    }
}

#about {
    article {
        margin-bottom: 3em;
    }

    img {
        float: right;
        margin-bottom: 1em;
        margin-left: 1em;
        max-width: 300px;
    }
}

#terms,
#privacy {
    section {
        margin-bottom: 3em;

        section {
            padding-left: 1em;
        }
    }
    h1 {
        @extend .border-bottom;
        margin-bottom: 1em;
    }
}
