$brand-red: #D33C44;
$link-light-blue: #1798A5;
$link-hover-blue: #15848F;

/* Bootstrap overrides */
$primary: $brand-red;

@import "../../vendor/twbs/bootstrap/scss/bootstrap.scss";

.disabled a,
a.disabled {
    pointer-events: none;
}

a {
    color: $link-light-blue;

    &:hover {
        color: $link-hover-blue;
    }
}

.side-nav {
    li {
        a:not(.button) {
            color: $link-hover-blue;

            &:hover {
                color: $link-hover-blue;
            }
        }
    }
}

header {
    background-color: $brand-red;
    box-shadow: 0 1px rgba(0, 0, 0, 0.24);
    color: #ffffff;
    font-size: 30px;
    height: 84px;
    line-height: 64px;
    padding: 16px 0;

    .header-title {
        padding-left: 80px
    }
}

legend {
    color: $link-hover-blue;
}

.row {
    max-width: 80rem;
}

.actions.columns {
    border-left: 5px solid $link-hover-blue;
    margin-top: 1rem;
    padding: 32px 20px;

    h3 {
        color: $link-hover-blue;
    }
}

.related {
    table {
        border: 0;
        table-layout: fixed;
        width: 100%;
    }
}

.index {
    table {
        thead {
            height: 3.5rem;
        }
    }
}

.header-help {
    float: right;
    font-size: 16px;
    margin-right: 2rem;
    margin-top: -80px;

    span {
        background-color: #0097a7;
        border-radius: 1000px;
        color: #FFF;
        display: inline-block;
        font-size: 0.8rem;
        font-weight: normal;
        line-height: 1;
        padding: 0.25rem 0.5rem 0.375rem;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
    }
}

.header-help {
    a {
        color: #fff;
    }
}

ul.pagination {
    li {
        a {
            color: rgba(0, 0, 0, 0.54);
        }

        &.active {
            a {
                background-color: #DCE47E;
                color: #FFF;
                cursor: default;
                font-weight: bold;
            }
        }
    }

    .disabled:hover {
        a {
            background: none;
        }
    }
}

.paginator {
    text-align: center;

    ul.pagination {
        li {
            display: inline-block;
            float: none;
        }
    }

    p {
        color: rgba(0, 0, 0, 0.54);
        text-align: right;
    }
}

.asc:after {
    content: " \2193";
}

.desc:after {
    content: " \2191";
}

.form {
    .error-message {
        color: rgba(0, 0, 0, 0.54);
        display: block;
        font-size: 0.75rem;
        font-style: italic;
        font-weight: normal;
        margin-bottom: 1rem;
        margin-top: -1px;
        padding: 0.375rem 0.5625rem 0.5625rem;
    }
}

.required {
    > label {
        font-weight: bold;

        &:after {
            content: ' *';
            color: #C3232D;
        }
    }
}

select[multiple] {
    min-height: 150px;
    background: none;
}

input[type=checkbox],
input[type=radio] {
    margin-right: 0.5em;
}

.date,
.time,
.datetime {
    select {
        display: inline;
        margin-right: 10px;
        width: auto;
    }
}

.error {
    label,
    label.error {
        color: #C3232D;
    }
}

.view {
    h2 {
        color: #6F6F6F;
    }

    .columns {
        &.strings {
            border-radius: 3px;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
            margin-right: 0.7rem;
        }

        &.dates {
            background-color: #DCE47E;
            border-radius: 3px;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
            color: #fff;
            margin-right: 0.7rem;
        }

        &.booleans {
            background-color: #8D6E65;
            border-radius: 3px;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
            color: #fff;
            margin-right: 0.7rem;
        }
    }

    .numbers {
        background-color: #B7E3EC;
        border-radius: 3px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
        color: #FFF;
        margin-right: 0.7rem;
    }

    .strings {
        p {
            border-bottom: 1px solid #eee;
        }
    }

    .numbers,
    .dates {
        .subheader {
            color: #747474;
        }
    }

    .booleans {
        .subheader {
            color: #E9E9E9
        }
    }

    .texts {
        .columns {
            border-bottom: 1px solid #eee;
            margin-top: 1.2rem;
        }
    }
}

/* Notices and Errors */
.cake-error,
.cake-debug,
.notice,
p.error,
p.notice {
    background-repeat: repeat-x;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    clear: both;
    display: block;
    margin-bottom: 18px;
    padding: 7px 14px;
}

.cake-debug,
.notice,
p.notice {
    color: #000000;
    background: #ffcc00;
}

.cake-error,
p.error {
    color: #fff;
    background: #C3232D;
}

pre {
    background: none repeat scroll 0 0 #FFF;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    color: rgba(0, 0, 0, 0.74);
    margin: 15px 0;
    padding: 5px;
}

.cake-error {
    .cake-stack-trace {
        margin-top: 10px;
    }
}

.cake-stack-trace {
    code {
        background: inherit;
        border: 0;
    }
}

.cake-code-dump {
    .code-highlight {
        background-color: #FFC600;
        display: block;
    }
}

.cake-error {
    a,
    a:hover {
        color: #fff;
        text-decoration: underline;
    }
}

.checks {
    background-color: #B7E3EC;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    color: #626262;
    margin-bottom: 2em;
    padding: 30px;
}

.checks {
    h4 {
        margin-bottom: 1.5rem;
    }

    hr {
        border: 0;
        height: 0;
    }

    .success,
    .problem {
        margin-left: 10px;

        &:before {
            line-height: 0;
            font-size: 28px;
            height: 12px;
            width: 12px;
            border-radius: 15px;
            text-align: center;
            vertical-align: middle;
            display: inline-block;
            position: relative;
            left: -11px;
        }
    }

    .success:before {
        content: "✓";
        color: green;
        margin-right: 9px;
    }

    .problem:before {
        content: "✘";
        color: red;
        margin-right: 9px;
    }
}

.top-bar.expanded {
    .title-area {
        background: #01545b;
    }
}

.top-bar.expanded,
.top-bar,
.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button) {
    background: #116d76;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background: #308e97;
}

.side-nav {
    li.heading {
        color: $link-light-blue;
        font-size: 0.875rem;
        font-weight: bold;
        padding: 0.4375rem 0.875rem;
        text-transform: uppercase;
    }
}

#actions-sidebar {
    background: #fafafa;
}

.index {
    table {
        border: 0;
        margin-top: 0;
        table-layout: fixed;
        width: 100%;
    }
}

fieldset {
    border: 1px solid lighten($brand-red, 25%);
    border-radius: 1rem;
    margin: 1.125rem 0;
    padding: 1.25rem;

    legend {
        color: $brand-red;
        border-bottom: 2px solid $brand-red;
        line-height: 2rem;
        margin-bottom: 1rem;
        width: 100%;
    }
}

.form {
    button[type="submit"] {
        box-shadow: none;
        float: right;
        text-transform: uppercase;
    }

    button:hover,
    button:focus {
        background: #BE840B;
        box-shadow: none;
    }
}

button {
    background: #966600;
}

div.message {
    background-color: #a0d3e8;
    color: #626262;
    cursor: pointer;
    display: block;
    font-weight: normal;
    height: 50px;
    line-height: 2.5em;
    overflow: hidden;
    padding: 0 1.5rem 0 1.5rem;
    right: 15px;
    text-align: center;
    top: 15px;
    transition: height 300ms ease-out 0s;
    z-index: 999;

    &:before {
        background-color: #FFF;
        border-radius: 15px;
        color: #a0d3e8;
        content: "i";
        display: inline-block;
        font-size: 20px;
        height: 12px;
        left: -11px;
        line-height: 0;
        padding: 12px 14px 12px 10px;
        position: relative;
        text-align: center;
        vertical-align: middle;
        width: 12px;
    }

    &.error {
        background-color: #C3232D;
        color: #FFF;

        &:before {
            color: #C3232D;
            content: "x";
            padding: 11px 16px 14px 7px;
        }

        a {
            color: #fff;
        }
    }

    &.hidden {
        height: 0;
    }
}

.vertical-table {
    vertical-align: middle;

    th {
        border: none;
        color: $link-light-blue;
        font-size: 0.875rem;
        padding: 0.5625rem 0.625rem;
        text-align: left;
    }

    td {
        text-align: right;
    }
}

.content {
    padding: 2rem;
}

/* Use 'one true layout' methods to get equal height columns */
.container {
    min-height: 92%; /* full height almost always */
    overflow: hidden;
}

/* Force equal height by overflowing */
.content,
#actions-sidebar {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

@media(max-width: 640px) {
    #actions-sidebar {
        margin-bottom: 0;
        padding-bottom: 2rem;
    }
}

.content {
    h3 {
        color: #be140b;
        margin-bottom: 20px;
        padding-bottom: 0.5rem;
    }

    h4 {
        border-bottom: 2px solid #be140b;
        color: #be140b;
        margin-bottom: 20px;
        padding-bottom: 0.5rem;
    }

    .related h4 {
        color: #4d8f97;
        padding-bottom: 0.5rem;
        margin-top: 20px;
        margin-bottom: 10px;
        border-bottom: 0;
    }
}

table td {
    vertical-align: top;
    word-break: break-all;
}

.credits {
    margin-bottom: 3em;
    max-width: 20em;

    div {
        border-bottom: 1px dashed #AAA;
        clear: both;
    }

    dt {
        background-color: #FFF;
        display: inline;
        font-weight: bold;
        margin-bottom: -3px;
        padding-right: 5px;
        position: relative;
        top: 4px;
    }

    dd {
        background-color: #FFF;
        color: #555;
        float: right;
        padding-left: 5px;
        position: relative;
        right: -2px;
        text-align: right;
        top: 4px;
    }
}

.footnote {
    @extend .text-muted;
    font-size: 80%;

    ~ .form-group {
        margin-bottom: 0;
    }
}

.form-group {
    margin-bottom: 2em;

    ~ .footnote {
        margin-bottom: 1rem;
    }
}

.apply {
    .accept-partial {
        label {
            display: block;

            &[for="accept-partial-payout-0"],
            &[for="accept-partial-payout-1"] {
                &:not(:first-child) {
                    font-weight: normal;

                    &:after {
                        content: "";
                    }
                }
            }
        }
    }

    label {
        font-weight: bold;
    }
}

form {
    .footnote {
        margin-bottom: 0;
    }
}

#home {
    section {
        margin: 2rem 0;
    }
}

#register-form {
    div.tel {
        input {
            margin-bottom: 0;
        }
    }
}

#register-name {
    margin-bottom: 0;
}

#login-form {
    form {
        margin-bottom: 1rem;
    }
}

body {
    padding-bottom: 4em;
}

.image-gallery {
    img {
        cursor: zoom-in;
        margin-right: 0.5em;
    }
}

#cycles-chart {
    background-color: #fff;
    width: auto;

    td {
        text-align: center;
    }

    .spring {
        th,
        td:not(.blank) {
            background-color: #d9ead3;
        }
    }

    .summer {
        th,
        td:not(.blank) {
            background-color: #fff2cc;
        }
    }

    .fall {
        th,
        td:not(.blank) {
            background-color: #f4cccc;
        }
    }

    .winter {
        th,
        td:not(.blank) {
            background-color: #cfe2f3;
        }
    }
}

.form-control {
    appearance: auto;
}

#change-status {
    display: inline-block;
    vertical-align: middle;
    width: auto;
}

#review-action-column {
    background-color: #eee;
    border-radius: 1em;
    padding: 1em;

    > section {
        margin-bottom: 2em;
    }

    .form-group.textarea {
        margin-bottom: 0.5em;
    }
}

#review-notes {
    margin-top: 1em;

    section {
        border: 1px solid #ddd;
        border-radius: 1em;
        margin-bottom: 1em;
        padding: 1em;

        p {
            margin-bottom: 0;
        }
        .date {
            font-size: 80%;
            text-align: right;
        }
    }
}

#voter-app {
    @extend .container;
}

#vote-steps {
    @extend .list-unstyled;
    border-bottom: 1px solid #aaa;
    list-style: none;
    padding-left: 0;

    li {
        display: inline-block;
        padding: 0.5em;
        margin-right: 1em;
    }

    .active {
        font-weight: bold;
    }
}

#vote-application-list {
    @extend .table;

    .fa-thumbs-up {
        color: green;
    }

    .fa-thumbs-down {
        color: red;
    }
}

.vote-actions {
    padding: 1em !important;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;

    i {
        font-size: 2em;
    }

    button {
        @extend .btn;

        &.vote-actions-change-vote {
            @extend .btn-link;
            @extend .btn-sm;
        }

        &.vote-actions-vote {
            @extend .btn-primary;
        }
    }
}

.vote-step-title {
    font-size: 1.2em;
    font-weight: bold;
}

.application-title {
    font-size: 1.5em;
    font-weight: bold;
}

.application-summary {

}
